<font color="mediumseagreen" size = "6">**Importing the Python libraries I'm going to need for data preparation and analysis**</font>

In [183]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

<font color="mediumseagreen" size = "6">**Importing the test and train datasets**</font>

In [184]:
df_test = pd.read_csv('test.csv')
df_train = pd.read_csv('train.csv')

#### Checking that the datasets have been imported correctly

In [185]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [186]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### Printing the amount of training and testing data

In [187]:
print(df_test.shape)
print(df_train.shape)

(418, 11)
(891, 12)

#### Getting the type of data on each dataset

In [188]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [189]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#### Calculating the missing data on each dataset

In [190]:
pd.isnull(df_test).sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [191]:
pd.isnull(df_train).sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#### Calculating stadistical data on each dataset

In [192]:
df_test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [193]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#### The mean and standard deviation of each column in the datasets are reasonable, so we can assume that any relationship we discover in the training data should work similarly in the test data.

<font color="mediumseagreen" size = "6">**I'll start preprocessing the data**</font>

#### Replacing the "female" and "male" value in the sex column for 0 and 1, respectively so it is easier to manipulate with the machine learning algorithms

In [194]:
df_test['Sex'].replace(['female', 'male'], [0,1], inplace = True)
df_train['Sex'].replace(['female', 'male'], [0,1], inplace = True)

#### Same for the embarked column. I'll replace 'Q', 'S' and 'T' for 0, 1 and 2, respectively.

In [195]:
df_test['Embarked'].replace(['Q','S','C'], [0,1,2], inplace = True)
df_train['Embarked'].replace(['Q','S','C'], [0,1,2], inplace = True)

#### Replacing the missing values on the age column with the average age of the datasets

In [196]:
# I check the average age on both datasets
print(df_test['Age'].mean())
print(df_train['Age'].mean())

30.272590361445783
29.69911764705882

#### I'll take 30 years old as the average age and fill in the missing values on the age column in both datasets

In [197]:
average_age = 30
df_test['Age'].fillna(average_age, inplace = True)
df_train['Age'].fillna(average_age, inplace = True)

In [198]:
print(max(df_test['Age']))
print(max(df_train['Age']))

76.0
80.0

#### Creating age groups: 0-8, 9-15, 16-18, 19-25, 26-40, 41-60, 60-80

In [199]:
bins = [0, 8, 15, 18, 25, 40, 60, 80]
names = [1, 2, 3, 4, 5, 6, 7]
df_test['Age'] = pd.cut(df_test['Age'], bins, labels = names)
df_train['Age'] = pd.cut(df_train['Age'], bins, labels = names)

#### Dropping "cabin" columns because we have so much missing values.

In [200]:
df_test.drop(['Cabin'], axis = 1, inplace= True)
df_train.drop(['Cabin'], axis = 1, inplace= True)

#### Dropping the columns that I consider non important for the analysis

In [201]:
df_test = df_test.drop(['Name', 'Ticket'], axis = 1 )
df_train = df_train.drop(['PassengerId','Name', 'Ticket'], axis = 1)

#### Deleting the rows that have any some nan values

In [202]:
df_test.dropna(axis = 0, how = 'any', inplace = True)
df_train.dropna(axis = 0, how = 'any', inplace = True)

#### Checking the quality of my datasets after the preprocessing

In [203]:
print(pd.isnull(df_test).sum())
print(pd.isnull(df_train).sum())

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [204]:
print(df_test.shape)
print(df_train.shape)

(417, 8)
(889, 8)

<font color="mediumseagreen" size = "6">**Applying machine learning algorithms**</font>

#### Split the colum with survivors information

In [205]:
X = np.array(df_train.drop(['Survived'], 1))
y = np.array(df_train['Survived'])

C:\Users\Migue\AppData\Local\Temp\ipykernel_9860\2688226586.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = np.array(df_train.drop(['Survived'], 1))

In [206]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#### Applying Logistic Regression

In [207]:
logreg = LogisticRegression() # initializing a logistic regression model
logreg.fit(X_train, y_train) # training the logistic regression model using the training data. 
Y_pred = logreg.predict(X_test) # using the trained logistic regression model to make predictions on the test data 
print('Logistic Regression Accuracy:')
print(logreg.score(X_train, y_train)) #  printing the accuracy of the logistic regression model on the training data.

Logistic Regression Accuracy:
0.8115330520393812

c:\Users\Migue\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

#### Applying Support Vector Machines

In [208]:
svc = SVC()
svc.fit(X_train, y_train)
Y_pred = svc.predict(X_test)
print('SVM accuracy')
print(svc.score(X_train, y_train))

SVM accuracy
0.6779184247538678

#### Applying K neighbors

In [209]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
print('KNN accuracy')
print(knn.score(X_train, y_train))

KNN accuracy
0.8593530239099859

<font color="mediumseagreen" size = "6">**Predicting survival on the test dataset using the models**</font>

In [210]:
ids = df_test['PassengerId']

#### Logistic Regression

In [215]:
prediction_logreg = logreg.predict(df_test.drop('PassengerId', axis = 1))
out_logreg = pd.DataFrame({'PassengerId': ids, 'Survived': prediction_logreg })
print('Logistic Regression Prediction')
print(out_logreg.head())

Logistic Regression Prediction
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

c:\Users\Migue\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

#### Support Vector Machines

In [216]:
prediction_svc = svc.predict(df_test.drop('PassengerId', axis = 1))
out_svc = pd.DataFrame({'PassengerId': ids, 'Survived': prediction_svc })
print('SVM Prediction')
print(out_svc.head())

SVM Prediction
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

c:\Users\Migue\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

#### K Nearest Neighbors

In [217]:
prediction_knn = knn.predict(df_test.drop('PassengerId', axis = 1))
out_knn = pd.DataFrame({'PassengerId': ids, 'Survived': prediction_knn })
print('KNN Prediction')
print(out_knn.head())

KNN Prediction
   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         0
4          896         1

c:\Users\Migue\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

In [221]:
out_knn.to_csv('titanic_prediction.csv', index = False)